/* HTML tags */
body {
	color: #2E2E2E;
}

/* Bootstrap stuff */
.jumbotron {
	position: 'absolute';
	top: 0px;
	color: #FFFFFF;
}

.lead {
	font-weight: 400;
}

.btn {
	border-radius: 50px;
	border-width: 3px;
	width: 200px;
	font-weight: 550px;
}

@media (max-width: 575.9px) {
	.btn {
		width: auto;
	}
}

.btn-main, .btn-main:hover, .btn-main:focus, .btn-main:active, .btn-main.active {
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0);
	border-color: #149DCC;
}

.btn-dark, .btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active {
	color: #149DCC;
	background-color: rgba(0, 0, 0, 0);
	border-color: #149DCC;
}

/* Jarallax stuff */
[id*="jarallax-container-"] > div {
	background-color: rgba(0, 0, 0, 0.25);
	background-blend-mode: multiply;
}

[id*="volunteer-buttons"] > [id*="jarallax-container-"] > div {
	background-color: rgba(127, 0, 0, 0.25);
	background-blend-mode: multiply;
}

/* Custom Classes and IDs */
.line {
	background-color: #149DCC;
	color: #149DCC;
	align: center;
	height: 2px;
	margin: 0 auto;
	width: 33%;
}

.scroll-below {
	margin-bottom: 5vh;
}

#scroll-to-top {
	position: fixed;
	bottom: 10vh;
	right: 10vw;
}

i.fa-circle {
	color: rgba(0, 0, 0, 0.75);
}

#scroll-to-top > i.fa-arrow-up {
	color: #FFFFFF;
}

#home-jumbotron {
	background-image: url("../img/hands.jpg");
}

#home-buttons {
	background-image: url('../img/home.jpg');
	height: 300px;
}

@media (min-width: 576px) {
	#home-buttons  >  div {
		width: 60vw;
	}
}

#home-social {
	height: 250px;
	background-image: linear-gradient(#149DCC, #FFFFFF);
}

#volunteer-jumbotron {
	background-image: url("../img/volunteer.jpg");
}

#volunteer-buttons {
	background-image: url('../img/volunteerhands.png');
	height: 300px;
	font-size: 1.1em;
}

#contact-jumbotron {
	background-image: url("../img/contact.jpg");
}

#contact-form {
	background-image: linear-gradient(#E8E8E8, #FFFFFF);
}

/* Fontawesome Colours */
.fa-circle {
	color: rgba(0, 0, 0, 0.75);
}

.fa-arrow-down, .fa-arrow-up {
	color: #FFFFFF;
}

.fa-facebook {
	color: #1877F2;
}

.fa-instagram {
	color: #222222;
}

.fa-youtube {
	color: #FF0000;
}

.fa-heart {
	color: #FF1493
}

.fa-code, .fa-github {
	color: #333333;
}

.fa-coffee {
	color: #B67B5B;
}

.fa-edge {
	color: #3A82E4; /* Alternative Color: #3277BC; */
}

.fa-snapchat {
	color: #FFFC00;
}

.fa-wikipedia {
	color: #000000;
}

.fa-twitter {
	color: #1DA1F2;
}
