.jumbotron {
	height: 100vh;
	background-image: url("../img/hands.jpg");
	background-position: "left top";
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: no-clip;
}

/* Colours */
.fb {
	color: #1877f2;
}

.insta {
	color: #222222;
}

.yt {
	color: #ff0000;
}

.www {
	color: #3a82e4;
	/*color: #3277bc;*/
}

.snap {
	color: #fffc00;
}

.wiki {
	color: #000000;
}

.tweet {
	color: #1da1f2;
}

.love {
	color: #ff1493
}

.code {
	color: #333333;
}

.coffee {
	color: #b67b5b;
}
