/* Bootstrap stuff */
.jumbotron {
	background: url('../img/hands.jpg');
	position: 'absolute';
	top: 0px;
}

.btn {
	border-radius: 50px;
	border-width: 3px;
	width: 150px;
	font-weight: 550px;
}

@media (max-width: 575.9px) {
	.btn {
		width: auto;
	}
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0);
	border-color: #149DCC;
}

.btn-form, .btn-form:hover, .btn-form:focus, .btn-form:active, .btn-form.active {
	color: #149DCC;
	background-color: rgba(255, 255, 255, 0);
	border-color: #149DCC;
}

/* Jarallax stuff */
[id*="jarallax-container-"] > div {
	background-color: rgba(0, 0, 0, 0.25);
	background-blend-mode: multiply;
}

/* Custom Classes and IDs */
.line {
	background-color: #149DCC;
	color: #149DCC;
	align: center;
	height: 2px;
	margin: 0 auto;
	width: 33%
}

#scroll-to-top {
	position: fixed;
	bottom: 10vh;
	right: 10vw;
}

#scroll-to-top > i {
	color: rgba(0, 0, 0, 0.5);
}

#home-jumbotron {
	background-image: url("../img/hands.jpg");
}

#home-buttons {
	background-image: url('../img/home.jpg');
	height: 300px;
}

@media (min-width: 576px) {
	#home-buttons  >  div {
		width: 60vw;
	}
}

#home-social {
	height: 250px;
	background-image: linear-gradient(#149DCC, #FFFFFF);
}

#contact-jumbotron {
	background-image: url("../img/contact.jpg");
}

#contact-form {
	background-image: linear-gradient(rgba(0, 0, 0, 0.125), #FFFFFF);
}

/* Colours */
.fb {
	color: #1877F2;
}

.insta {
	color: #222222;
}

.yt {
	color: #FF0000;
}

.www {
	color: #3A82E4;
	/* Alternative:
	 * color: #3277BC;
	 */
}

.snap {
	color: #FFFC00;
}

.wiki {
	color: #000000;
}

.tweet {
	color: #1DA1F2;
}

.love {
	color: #FF1493
}

.code {
	color: #333333;
}

.coffee {
	color: #B67B5B;
}
